[Desktop Entry]
Type=Application
Exec=/usr/bin/cryptfolder-indicator
Hidden=false
NoDisplay=false
Name=cryptfolder-indicator-autostart
Comment=CryptFolder-Indicator official shortcut
