[Desktop Entry]
Type=Application
Exec=/opt/extras.ubuntu.com/cryptfolder-indicator/bin/cryptfolder-indicator
Hidden=false
NoDisplay=false
X-GNOME-Autostart-enabled=true
Name[es_ES]=cryptfolder-indicator-autostart
Name=cryptfolder-indicator-autostart
Comment[es_ES]=CryptFolder-Indicator official shortcut
Comment=CryptFolder-Indicator official shortcut
