[Desktop Entry]
Name = CryptFolder-Indicator
GenericName = CryptFolder-Indicator
Comment = An indicator for crypt folders
Exec = /opt/extras.ubuntu.com/cryptfolder-indicator/bin/cryptfolder-indicator
Icon = /opt/extras.ubuntu.com/cryptfolder-indicator/share/pixmaps/cryptfolder-indicator.svg
Type = Application
Terminal = false
StartupNotify = true
Encoding = utf-8
Categories = Utility;
Name[it] = CryptFolder-Indicator
Name[de] = CryptFolder-Indicator
Name[en] = CryptFolder-Indicator
Name[ru] = CryptFolder-Indicator
Name[gl] = CryptFolder-Indicator
Name[es] = CryptFolder-Indicator
Name[ca] = CryptFolder-Indicator
Name[pl] = CryptFolder-Indicator
Name[fr] = CryptFolder-Indicator
Name[ast] = CryptFolder-Indicator
GenericName[it] = CryptFolder-Indicator
GenericName[de] = CryptFolder-Indicator
GenericName[en] = CryptFolder-Indicator
GenericName[ru] = CryptFolder-Indicator
GenericName[gl] = CryptFolder-Indicator
GenericName[es] = CryptFolder-Indicator
GenericName[ca] = CryptFolder-Indicator
GenericName[pl] = CryptFolder-Indicator
GenericName[fr] = CryptFolder-Indicator
GenericName[ast] = CryptFolder-Indicator
Comment[it] = Indicatore per le cartelle cifrate tramite encfs
Comment[de] = Ein Indikator zur Nutzung verschlüsselter Ordner mit EncFS
Comment[en] = An indicator for crypt folders with encfs
Comment[ru] = Индикатор для зашифрованных папок encfs
Comment[gl] = Un indicador para cartafoles encriptados con encfs
Comment[es] = Un indicador para directorios cifrados con encfs
Comment[ca] = Un indicador per a carpetes xifrades amb encfs
Comment[pl] = Edytuj zaszyfrowane foldery
Comment[fr] = Un indicateur de répertoires cryptés avec encfs
Comment[ast] = Un indicador pa carpetes cifraes con encfs
