[Desktop Entry]
Name=CryptFolder-Indicator
Version=0.0.2.3
Exec=/usr/share/cryptfolder-indicator/cryptfolder-indicator.py
Comment=CryptFolder-Indicator
Icon=/usr/share/pixmaps/cryptfolder-indicator.svg
Type=Application
Terminal=false
StartupNotify=true
Encoding=UTF-8
Categories=Utility;
Name[es_ES]=extras-cryptfolder-indicator.desktop
